{% extends 'layout.html' %}

{% block content %}
<div class="segment about">
	<div class="split mainFont headline">
	About
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	Fundacja TAKI JESTEM powstała we wrześniu 2013r.
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	Głównym jej celem jest inicjowanie działań oraz aktywizowanie i wsparcie w przedsięwzięciach kulturalnych, społecznych i zawodowych osób z niepełnosprawnością intelektualną i ich rodzin. 
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	W działaniach podejmowanych przez Fundację będziemy chcieli ukazać osobę upośledzoną jako jednostkę aktywną i twórczą, która również może i chce pomóc (na tyle ile potrafi) i zrobić coś dla innych, która ma uczucia, emocje i swój sposób ich wyrażania. 
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	Chcemy tworzyć możliwości i sytuacje, które "przemycą" osobę upośledzoną do świadomości społecznej. 
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	Zamierzamy również wesprzeć osoby niepełnosprawne i ich najbliższych pomocą psychologiczną, pedagogiczną oraz poradnictwem. 
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	Swój cel będziemy realizować na wielu płaszczyznach i na różne sposoby.
	</div>
</div>
<div class="segment mission">
	<div class="split mainFont headline">
	Mission
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	Fundacja realizuje swój cel poprzez:
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	1. Inspirowanie i przygotowywanie do uczestnictwa w życiu społecznym poprzez udział w inicjatywach twórczych i zawodowych.
	</div>
	<div class="split mainFont"></div>
	<div class="split mainFont">
	2. Organizowanie i uczestnictwo w akcjach społecznych oraz imprezach publicznych.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	3. Stwarzanie możliwości rozwoju osobistego i kształtowanie kompetencji społecznych poprzez włączanie do życia ogólnospołecznego.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	4. Organizowanie i finansowanie imprez sportowych, rekreacyjnych i kulturalnych.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	5. Działania na rzecz ekologii i ochrony zwierząt oraz ochrony dziedzictwa przyrodniczego.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	6. Rozwijanie podstawowych oraz specjalistycznych umiejętności zawodowych.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	7. Promocję zatrudnienia i aktywizację zawodową.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	8. Organizowanie pomocy psychologiczno-pedagogicznej.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	9. Inicjowanie i włączanie się do imprez o charakterze integracyjnym.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	10. Organizowanie i prowadzenie akcji edukacyjnych, szkoleniowych i informacyjnych, służących podnoszeniu świadomości i przeciwdziałającej wykluczeniu społecznemu.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	11. Działalność wspomagającą rozwój wspólnot i społeczności lokalnych.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	12. Wspieranie i organizowanie specjalistycznej pomocy dla rodzin i opiekunów osób z niepełnosprawnością intelektualną: poradnictwo, pomoc psychologiczna, grupy wsparcia.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	13. Udzielanie pomocy finansowej bądź rzeczowej osobom fizycznym i instytucjom, powołanym do nauczania i opiekowania się osobami niepełnosprawnymi.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	14. Tworzenie, uzupełnianie i udostępnianie bazy danych placówek medycznych, opiekuńczych, oświatowych związanych ze środowiskiem osób niepełnosprawnych.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	15. Organizowanie wycieczek, kolonii i obozów dla dzieci, młodzieży i dorosłych osób niepełnosprawnych intelektualnie.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	16. Utworzenie i prowadzenie Warsztatów Terapii Zajęciowej.
	</div>			
	<div class="split mainFont"></div>
	<div class="split mainFont">
	17. Promocję i organizację wolontariatu. 
	</div>
</div>
{% endblock %}
