{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="./css/about.css" type="text/css">
{% endblock %}
{% block content %}
<div class="text">
Głównym jej celem jest inicjowanie działań oraz aktywizowanie i wsparcie w przedsięwzięciach kulturalnych, społecznych i zawodowych osób z niepełnosprawnością intelektualną i ich rodzin. </br></br>

W działaniach podejmowanych przez Fundację będziemy chcieli ukazać osobę niepełnosprawną intelektualnie jako jednostkę aktywną i twórczą, która również może i chce pomóc (na tyle ile potrafi), zrobić coś dla innych, która ma uczucia, emocje i swój sposób ich wyrażania. </br></br>

Chcemy tworzyć możliwości i sytuacje, które pozwolą tym osobom dotrzeć do świadomości społecznej.  Zamierzamy również wesprzeć je i ich najbliższych pomocą psychologiczną, pedagogiczną oraz poradnictwem. </br></br>

Swój cel będziemy realizować na wielu płaszczyznach i na różne sposoby.</br>
</div>
{% endblock %}
