{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="./css/about.css" type="text/css">
{% endblock %}
{% block script %}
<script type="text/javascript" src="./script/about.js"></script>
{% endblock %}
{% block content %}
<a class="media text strong" href="./docs/Fundacja Taki Jestem - Statut.pdf"><span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM </span>- Statut</a>
<div class="text">
Głównym jej celem jest inicjowanie działań oraz aktywizowanie i wsparcie w przedsięwzięciach kulturalnych, społecznych i zawodowych osób z niepełnosprawnością intelektualną i ich rodzin. </br></br>

W działaniach podejmowanych przez Fundację będziemy chcieli ukazać osobę niepełnosprawną intelektualnie jako jednostkę aktywną i twórczą, która również może i chce pomóc (na tyle ile potrafi), zrobić coś dla innych, która ma uczucia, emocje i swój sposób ich wyrażania. </br></br>

Chcemy tworzyć możliwości i sytuacje, które pozwolą tym osobom dotrzeć do świadomości społecznej.  Zamierzamy również wesprzeć je i ich najbliższych pomocą psychologiczną, pedagogiczną oraz poradnictwem. </br></br>

Swój cel będziemy realizować na wielu płaszczyznach i na różne sposoby.</br></br>
<u>Zarząd Fundacji:</u></br>
Agata Schirok - Prezes Zarządu</br>
Małgorzata Schirok - Wiceprezes Zarządu</br>
Krzysztof Marciniak - Członek Zarządu</br>
Tatiana Kaczmarek - Członek Zarządu</br>
</br>
<u>Rada Fundacji:</u></br>
Anna Niewiarowska</br>
Marzena Morawska</br>
Monika Mrozińska</br>
</br>
</div>

{% endblock %}
	