{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="./css/contact.css" type="text/css"/>
{% endblock %}

{% block content %}
<div id="address">
	<div class="text"><span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM</span></div>
	<div class="text">ul. Puszczyka 15 lok 18</div>
	<div class="text">02-785 Warszawa</div>
</div>
<div id="details">
	<div class="text">KRS: 0000475152</div>
	<div class="text">NIP: 9512371218</div>
	<div class="text">REGON: 146858706</div>
</div>
<div id="contacts">
	<div class="contact">
<!-- 		<div class="general">
			<div class="icon"></div>
			<div class="text strong">General enquiries</div>	
		</div> -->
		<div class="email">		
			<div class="icon"></div>
			<div class="text">info@fundacjatakijestem.pl</div>
		</div>
	</div>
	<div class="contact">
		<div class="name">
			<div class="icon"></div>
			<div class="text strong">Agata Schirok - Prezes Zarządu</div>
		</div>
		<div class="phone">
			<div class="icon"></div>
			<div class="text">0501 074 778</div>
		</div>
		<div class="email">
			<div class="icon"></div>
			<div class="text">a.schirok@fundacjatakijestem.pl</div>
		</div>
	</div>
	<div class="contact">
		<div class="name">
			<div class="icon"></div>
			<div class="text strong">Małgorzata Schirok - Wiceprezes Zarządu</div>
		</div>
		<div class="phone">
			<div class="icon"></div>
			<div class="text">0501 074 779</div>
		</div>
		<div class="email">	
			<div class="icon"></div>
			<div class="text">m.schirok@fundacjatakijestem.pl</div>
		</div>
	</div>
</div>
{% endblock %}