{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="./css/events.css" type="text/css"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="./script/events.js"></script>
{% endblock %}

{% block content %}
<div id="eventContainer">
	<div class="eventWrapper" id="category5">
		<div class="eventTitle text strong">Teatr Baj - 30.09.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/baj.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Czy martwy przedmiot może ożyć?
			</br>
        	Może, a dowiedli tego Państwo Elżbieta Bieda i Kamil Król podczas II części warsztatów w ramach cyklu warsztatów, które odbyły się w Teatrze Baj w dniu 30/09/2014.
        	</br></br>
          	Zamknijcie oczy, wsłuchajcie się w siebie, a zobaczycie latające kapelusze, chodzące na szpileczkach okulary słoneczne, gadające garnki i szczekające szczotki.
          	</br></br>
          	Zamknijcie oczy i puśćcie wodze fantazji, a zaskoczy Was z jaką łatwością zwykły przedmiot użytku codziennego, zamienia się we wszystko czego tylko zapragniemy, na co tylko pozwoli nam nasza wyobraźnia.
          	</br></br>
          	Dzięki inwencji twórczej Pani Eli i Pana Kamila, po raz drugi mieliśmy ogromną przyjemność i zaszczyt uczestniczyć w magicznym spotkaniu, po którym zwykłe rzeczy przestają już wydawać się takimi, jakimi są, a szara codzienność nabiera koloru.
          	</br></br>
          	Dziękujemy Pani Aldonie Kulesza za zorganizowanie warsztatów i do zobaczenia na Spotkaniach teatralnych.
		</div>
		<div id="category5View"></div>
	</div>
	<div class="eventWrapper" id="category4">
		<div class="eventTitle text strong">Teatr Syrena - 14.05.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/syrena.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			14 maja br. w Teatrze Syrena, odbyły się zamykające pierwszy cykl warsztaty teatralne, połączone z wycieczką po teatrze i jego „tajemniczym” zapleczu. Dzięki temu uczestnicy spotkania, poszerzyli swoją wiedzę na temat teatru, zobaczyli nieznane dla powszechnych bywalców teatru miejsca, poznali sposoby i 'chwyty' stosowane w sztuce tworzenia bajecznej, często skomplikowanej scenografii. Naszym przewodnikiem po zakamarkach teatru była Pani Anna Modrzejewska. 
			</br></br>
      		W tajniki sztuki teatralnej wprowadzili nas aktorzy teatru: Pani Beatrycze Łukaszewska oraz Pan Zbigniew Kozłowski, dzięki którym staraliśmy się odkryć własne możliwości, wzbogaciliśmy swoją wyobraźnię i fantazję, a także próbowaliśmy wyrażać i werbalizować własne uczucia i emocje.
      		</br></br>
        	Dziękujemy za fantastyczne spotkanie!
		</div>
		<div id="category4View"></div>
	</div>
	<div class="eventWrapper" id="category3">
		<div class="eventTitle text strong">Teatr Baj - 08 i 13.05.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/baj.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Wyprawę do magicznego świata Teatru Baj rozpoczęliśmy 8 maja spektaklem „Dr Dolittle i jego zwierzęta”. Pięć dni później odbyły się warsztaty, podczas których poznaliśmy sekrety ożywiania materiału o różnej fakturze i wielkości oraz sztuki animacji. Dzięki temu przenieśliśmy się do świata naszej wyobraźni, gdzie jak za dotykiem czarodziejskiej różdżki, tchnęliśmy życie w kawałki szmatek, sznurka, styropianowe kulki, które przez chwilę stworzyły żywy, barwny i bajkowy świat. Udało nam się tego dokonać dzięki aktorom Teatru Baj: Pani Elżbiecie Bieda i Panu Kamilowi Król oraz Pani Aldonie Kulesza, która umożliwiła nam to spotkanie. Z niecierpliwością czekamy na nasze wrześniowe spotkanie ;0). 
       		</br></br>
        	Do zobaczenia!
		</div>
		<div id="category3View"></div>
	</div>
	<div class="eventWrapper" id="category2">
		<div class="eventTitle text strong">Warszawskie Centrum Pantomimy / Scena Na Woli Teatru Dramatycznego - 03.04.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/scena.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Spotkanie z pantomimą rozpoczęło cykl warsztatów, skierowanych do osób z niepełnosprawnością intelektualną, które poprzedzają jesienne Spotkania Teatralne, gdzie młodzi aktorzy zaprezentują swoje umiejętności wzbogacone wiedzą i doświadczeniem, nabytymi podczas warsztatów.
			</br></br>
		    W tajniki sztuki teatru pantomimy wprowadzili nas aktorzy Teatru Mimo Bartłomieja Ostapczuka, Panie Maja Pieczerak i Marta Grądzka. Podczas zajęć uczestnicy doświadczyli sztuki, w której myśli i emocje, przekazywane są za pomocą ruchu, mowy ciała i gestów. Uczestnicy warsztatów przenieśli się w ten magiczny świat różnorakich odczuć i przeżyć. Było to piękne spotkanie i choć po tych kilku godzinach ciężkich ćwiczeń i widocznego zmęczenia, z twarzy uczestników (i opiekunów) nie schodził uśmiech :). 
			</br></br>
		    Naszym poczynaniom sekundował dobry duch teatru - pies Marcel. 
		    </br></br>
		    Serdecznie pozdrawiamy!
		</div>
		<div id="category2View"></div>
	</div>
	<div class="eventWrapper" id="category1">
		<div class="eventTitle text strong">22 Finał Wielkiej Orkiestry Świątecznej Pomocy za nami - 12.01.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/rh.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			<span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM </span> we współpracy z Gimnazjum nr 92 przy ul. Koncertowej 4 oraz Ursynowskim Szkolnym Sztabem Mandarynka, miała ogromny zaszczyt i przyjemność uczestniczyć w tym wielkim wydarzeniu.
			</br></br>
        	12 stycznia, w godzinach 15:00 – 18:00, na terenie Gimnazjum nr 92, huczało od muzyki, gwaru i fantastycznej zabawy. Całość imprezy poprowadził Pan Robert Janowski, który w pełnej integracji z uczestnikami spotkania, stworzył ciepłą i rodzinną atmosferę spotkania.
        	</br></br>
      		Jako pierwszy wystąpił opowiadacz bajek, Pan Michał Malinowski, twórca i dyrektor Muzeum Bajek, Baśni i Opowieści w Konstancinie, MuBaBaO. Podczas swoich licznych podróży po świecie odkrył pasję opowiadania i kontynuowania tradycji ustnych. Przedstawił historię chłopca, która na chwilę pozwoliła zapomnieć nam o rzeczywistym świecie, wzbudziła refleksje istoty i sensu życia, tego co tak naprawdę jest najważniejsze. Występ zakończył się budowaniem bajkowego świata z klocków MuBaBaO. Wszystkie dzieci z wielką chęcią i radością przyłączyły się do wspólnej zabawy.
      		</br></br>
    		W międzyczasie uczestnicy spotkania zaproszeni zostali do stoisk: kawiarenki, sklepiku, punktu malowania paznokci. Goście mieli możliwość zrobienia sobie warkoczyków i biżuterii, wzięcia udziału w mini-warsztatach ceramicznych oraz warsztatach plastycznych, które wspólną pracą wszystkich zainteresowanych, zakończyło się utworzeniem „Drzewka naszych serc”.
    		</br></br>
       		Kolejnym punktem imprezy był występ Teatru Ruchu „Balonik”, który w dwóch wyjściach zaprezentowałTaniec worków, Paso Doble, Karnawał wenecki oraz Taniec ognia. Teatr reprezentuje Mazowieckie Centrum Kultury i Sztuki w Warszawie oraz Warszawskie Koło Polskiego Stowarzyszenia na Rzecz Osób z Upośledzeniem Umysłowym. Grupę prowadzi Pan Wojciech Gębski, liczy 26 osób i w swoim repertuarze ma 25 tańców i trzy spektakle taneczne. W roku 2012 obchodził jubileusz 20 lecia istnienia. Podczas swoich występów, zespół zaprezentował nieprawdopodobnie bogate i piękne stroje, a zaangażowanie tancerzy wzruszało najtwardsze serca.
       		</br></br>
     		Po pełnym emocji występie „Balonika”, Pani Anna Jastrzębska zaprosiła wszystkich do wspólnej zabawy, gdzie w gorących rytmach Zumby, całe szkolne forum zapełniło się roztańczonym tłumem ludzi. Bez wstydu, bez oporu, bez podziału na wiek czy płeć. Wszyscy z radością przyłączyli się do grupowego tańca.
     		</br></br>
        	Ogromne emocje wzbudził konkurs: „Jaka to melodia”, który poprowadził Pan Robert Janowski. Pięć 3-osobowych grup, przez blisko godzinę zmagało się z melodiami największych muzycznych hitów. Bezkonkurencyjny okazał się przyjaciel naszej Fundacji, Krzysztof, który swoją wiedzą i słuchem muzycznym, zadziwił i zachwycił każdego, i mógłby stanąć w konkury z najlepszymi uczestnikami telewizyjnego programu „Jaka to Melodia”.
        	</br></br>
      		Chwila oddechu i na scenie pojawia się grupa taneczna „Spontan”, która trenuje w Kabaty Dance Studio od 3 lat. Odnoszą sukcesy na turniejach w całej Polsce, a grupę prowadzi Pani Paulina Gajewska.W hip-hopowym rytmie powoli zbliżyliśmy się do końca imprezy, gdzie swoje wokalne i taneczne talenty zaprezentowali także uczniowie Gimnazjum nr 92.
      		</br></br>
      		Na zakończenie imprezy, przedstawieni zostali wolontariusze biorący udział w akcji zbierania pieniędzy, które zasiliły konto 22 Finału WOŚP. Wśród nich byli absolwenci Gimnazjum nr 92 zarejestrowani w Ursynowskim Szkolnym Sztabie Mandarynka oraz podopieczni <span class="p1 text"> Fundacji </span><span class="p2 text">TAKI JESTEM</span>. Wspólnymi siłami, ramię w ramię, w atmosferze pełnej akceptacji i życzliwości, zbierali środki dla wsparcia głównej idei tegorocznego Finału WOŚP.
      		</br></br>
       		Impreza, która odbyła się na terenie Gimnazjum nr 92 przy ul. Koncertowej 4, której mieliśmy zaszczyt być współorganizatorem w ramach 22 Finału WOŚP, miała podwójne znaczenie. Prócz głównej idei niesienia pomocy innym, istotny i znamienny jest fakt pełnej integracji. Dlatego szczególne uznanie należy się uczniom i absolwentom Gimnazjum, którzy czynnie włączyli się w przygotowania i obsługę imprezy. Ich otwartość i serdeczność, z jaką przyjęli osoby niepełnosprawne intelektualnie, wpłynęły na niepowtarzalną i ciepłą atmosferę całego spotkania.
       		</br></br>
      		Dziękujemy, że mogliśmy wspólnie stworzyć coś tak pozytywnego i dającego radość innym, a przy okazji włączyć się w pomoc innym.
		</div>
		<div id="category1View"></div>
	</div>
</div>
{% endblock %}