{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="./css/events.css" type="text/css"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="./script/events.js"></script>
{% endblock %}

{% block content %}
<div id="eventContainer">

	<div class="eventWrapper" id="category16">
		<div class="eventTitle text strong">Teatr Baj - 27.09.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/baj.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			27/09/2015 zostaliśmy zaproszeni do Teatru Baj na warsztaty animacji lalek teatralnych, które organizowane były w ramach Warszawskiego Tygodnia Kultury bez Barier. Fundacja nasza jak zawsze pozostaje pod nieprawdopodobnym wrażeniem spotkań prowadzonych w tym Teatrze, ponieważ za każdym razem zostajemy zaskoczeni czymś nowym. Pani Elżbieta Bieda z naturalnym wdziękiem i swobodą przekazuje nam uroki teatru lalkowego, wprowadza w tajniki tej formy przekazu, bardzo trudnej wbrew pozorom i wymagającej wielu umiejętności. Za każdym razem uczymy się czegoś nowego i raz jeszcze dziękujemy Panie Aldonie Kaszuba za zaproszenie. 
			<br/>
			Już nie możemy doczekać się kolejnego spotkania &#x263A;
		</div>
		<div id="category16View"></div>
	</div>

	<div class="eventWrapper" id="category15">
		<div class="eventTitle text strong">Dog Frisbee</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/frisbee.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Wraz z Panią Justyną Kułakowską , w ramach zajęć z Dogfrisbee, przygotowujemy się do  udziału w zawodach DOG GAMES, zaplanowanych na wiosnę przyszłego roku. Marek i Justyna regularnie ćwiczą, nie odpuścili nawet w wakacje i efekty są coraz bardziej widoczne &#x263A; Trzymamy za Nich kciuki i na bieżąco bedziemy informować o efektach pracy naszych Przyjaciół.
		</div>
		<div id="category15View"></div>
	</div>

	<div class="eventWrapper" id="category14">
		<div class="eventTitle text strong">Stowarzyszenie TKKF Olszynka Grochowska - 01.06.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/tenis.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			W dniu 01/06/2015, z okazji Dnia Dziecka oraz na zaproszenie Stowarzyszenia TKKF Olszynka Grochowska, wraz z naszymi Przyjaciółmi, uczestniczyliśmy w imprezie sportowej "Z tenisem za pan brat".  Spotkanie przerosło nasze najśmielsze oczekiwania. I to zarówno za sprawą organizatorów, którzy przeszli samych siebie, jak i uczestników, którzy fantastycznie odnaleźli się w tenisowych zmaganiach. Ciepło, sredeczność i otwartość organizatorów i instruktorów ujęło za serca wszystkich tam obecnych. Radość jaka towarzyszyła temu spotkaniu, atrakcje i zabawy, do tego piękna pogoda - to wszystko złożyło się na cudowną atmosferę i nieprawdopodobne przeżycie, które pozostanie niezapomniane jeszcze długi czas. Dziękujemy wszystkim, którzy pomogli w zorganizowaniu tego spotkania oraz uczestnikom: Zespołowi  Szkół Specjalnych nr 105 w Warszawie oraz Stowarzyszeniu Otwarte Drzwi i zapraszamy do obejrzenia zdjęć, które mówią same za siebie.
		</div>
		<div id="category14View"></div>
	</div>

	<div class="eventWrapper" id="category13">
		<div class="eventTitle text strong">Teatr Rozmaitości - 15.05.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/Teatr_Rozmaitosci.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			W dniu 15/05/2015, w Teatrze Rozmaitości, odbyły sie kolejne warsztaty tetralne z udziałem naszych Przyjaciół, połączone ze zwiedzaniem teatru. Pani Anna Rochowska oprowadziła nas po najciekawszych miejscach teatru, opowiadając interesujące historie i anegdoty. Na koniec, w trakcie ćwiczeń relaksacyjnych, uczestnicy mogli odprężyć się przy akompaniamencie spokojnej muzyki i śpiewu ptaków. Na krótką chwilę przenieśliśmy się w daleką podróż do świata fantazji, skąd powróciliśmy odświeżeni i pełni energii. Dziekujemy Pani Annie za zaproszenie oraz uczestnikom warsztatów: Zespołowi Szkół Specjalnych nr 100 w Warszawie oraz Zespołowi Rewalidacyjnemu Warszawskiego Koła Polskiego Stowarzyszenia na Rzecz Osób z Upośledzeniem Umysłowym.
		</div>
		<div id="category13View"></div>
	</div>

	<div class="eventWrapper" id="category12">
		<div class="eventTitle text strong">Scena Stara Prochownia - 12.05.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/Stara_Prochownia.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			12/05/2015 na Scenie Starej Prochowni, wzięliśmy udział w warsztatach poprowadzonych przez Panią Monikę Domagała. Czary-mary, czarny kapeluszu odsłoń nam swą zawartośc &#x263A; ........ Uczestnicy poddali się magii teatru i jak zawsze, z wielkim entuzjazmem i aktorską pasją zaangażowali się w realizację wyzwań, jakie postawiła przed Nimi Pani Monika. Warsztaty zakończył udział w  inscenizacji wiersza Jana Brzechwy: 'Na straganie'. Dziękujemy Pani Monice za fantastyczne zajęcia, a uczestnikom za przybycie: Specjalnemu Ośrodkowi Szkolno-Wychowawczemu z Leszna, Zespołowi Szkół Specjalnych nr 105 w Warszawie oraz Zespołowi Placówek Szkolno-Wychowawczo-Rewalidacyjnych nr 1 w Warszawie.
		</div>
		<div id="category12View"></div>
	</div>
	<div class="eventWrapper" id="category11">
		<div class="eventTitle text strong">Dog Frisbee - 10.05.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/frisbee.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			W dniu 10/05/2015, pod okiem profesjonalnego trenera Pani Justyny Kułakowskiej, rozpoczęliśmy zajęcia z Dog Frisbee. Naszym celem jest udział w zawodach w przyszłym roku i przed nami wiele godzin ciężkiej pracy. Technika rzutu frisbee jest trudna, wymaga ćwiczeń, precyzji i dokładności. Rzut musi być przede wszystkim bezpieczny dla psa, który pobiegnie wszędzie tam, gdzie "pofrunie" frisbee. Dlatego tak ważna jest staranność tego rzutu. W ćwiczeniach wspierały nas dwie cudowne sunie: Dziunia i Lotka. Dziunia oszołomiła wszystkich swoim orginalnym i szczerym uśmiechem, a Lotka finezją i zwinnością.
			</br></br>
			Kolejne ćwiczenia z frisbee przewidzine są na 31/05/2015 i trzymamy kciuki za wytrwałóść zawodników! 
		</div>
		<div id="category11View"></div>
	</div>
	<div class="eventWrapper" id="category10">
		<div class="eventTitle text strong">Teatr Baj - 17.04.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/baj.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			17 kwietnia w Teatrze Baj w Warszawie odbyły się kolejne warsztaty teatralne z udziałem naszych Przyjaciół z Zespołu Szkół Specjalnych im. Janiny Porazińskiej w Ignacowie oraz z Teatru Ruchu Balonik działającym przy Mazowieckim Instytucie Kultury.
			</br>
		 	Zanim jednak poznaliśmy tajniki sztuki lalkarskiej, mieliśmy przyjemność obejrzeć przedstawienie „Śpiąca królewna”. Baśń, którą wszyscy znajmy, a jednak zaskoczyła nas w zupełnie nowej odsłonie. Scenografia, lalki, muzyka i fantastyczni aktorzy sprawili, że wyszliśmy oczarowani.
		 	</br>
			Po spektaklu wzięliśmy udział w warsztatach lalkarskich, które poprowadziła aktorka Teatru Baj Pani Elżbieta Bieda. Jak zwykle otwarta, serdeczna i ciepła, dzięki czemu spotkania w Baju są zawsze dla nas prawdziwą przyjemnością. Uczestnicy dowiedzieli się na czym polega animacja i poznali techniki pracy z lalką poprzez różne ćwiczenia i zabawy. Przekonaliśmy się, jak trudno wyrazić i przekazać emocje  i przeżycia lalki, które wyraża ona ruchem głowy, rąk, nóg, układem całej postaci. Zwieńczeniem zmagań uczestników z lalkami, było przygotowanie krótkich etiud teatralnych i ich prezentacja. 
			</br>
			Bardzo dziękujemy Pani Aldonie Kaszuba za zaproszenie, zaangażowanie i serdeczność. 
		</div>
		<div id="category10View"></div>
	</div>
	<div class="eventWrapper" id="category9">
		<div class="eventTitle text strong">Teatr Roma - 13.04.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/roma.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
  			W dniu 13.04.2015r. odbyły się kolejne, z zaplanowanowanych na ten rok, warsztaty teatralne w Teatrze Roma. Spotkanie składało się z trzech części: wokalnej, aktorskiej i tanecznej.
  			</br>
    		Część wokalną poprowadziła Pani Lena Zuchniak. Uczestnicy szlifowali swoje umiejętności głosowe, słuchowe, poznawali sztukę prawidłowej pracy przepony oraz właściwego operowania  mikrofonem. Rzecz wydawałaby się prosta, jak się okazało, nie do końca. Każdy ruch głowy, ramion czy dłoni okazuje się ważny dla przekazu i właściwego brzmienia. Ale czy dla naszych Przyjaciół są rzeczy niemożliwe do opanowania? &#x263A;
    		</br>
    		Część aktorską poprowadził Pan Krzysztof Bartłomiejczyk. Mnóstwo zabawy i śmiechu, czerwone dywany, lustrzane odbicia i duże emocje. Wszystko razem złożyło się na prawie godzinne, pozytywne szaleństwo "aktorskie", które jak się okazało, stanowiło świetną rozgrzewkę przed kolejnymi, tym razem tanecznymi zmaganiami uczestników. Te natomiast, poprowadziła Pani Agnieszka Zalas.
    		</br>
			Nasi Przyjaciele musieli opanować niełatwą choreografię, ale jak zawsze doskonale sobie poradzili. Tanecznym krokiem opuścili gmach Teatru, zmęczeni, ale zadowoleni i uśmiechnięci od ucha do ucha &#x263A;
			<br>
			W warsztatach wzieli udział: Specjalny Ośrodek Szkolno-Wychowawczy w Pruszkowie oraz Zespół Szkół Specjalnych nr 98 w Warszawie.
			</br></br>
   		 	Dziekujemy za spotkanie i ciepłe przyjęcie, mając jednocześnie nadzieję, że uda nam się spotkać na podsumowaniu tegorocznych warsztatów, podczas Spotkań Teatralnych, zaplanowanych na II połowę tego roku.
		</div>
		<div id="category9View"></div>
	</div>
	<div class="eventWrapper" id="category8">
		<div class="eventTitle text strong">Warszawskie Centrum Pantomimy / Scena Na Woli Teatru Dramatycznego - 24.03.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/scena.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Człowiek przyjmuje różne wyrazy twarzy: zarówno wtedy, gdy nikt na niego nie patrzy, jak i wtedy, gdy jest przekonany, że inni ludzie mogą go zobaczyć (o jakże wówczas przybierają na sile &#x263A&#x263A;. Istnieje tysiące min, które są odzwierciedleniem naszych emocji i uczuć, pomagają lub przeszkadzają w komunikowaniu się z drugim człowiekiem.
			</br></br> 
			Pantomima to sztuka, gdzie aktorzy nie używają głosu, lecz komunikują się z widzem używając ruchu, mowy ciała, gestów i właśnie mimiki. Doświadczyliśmy tego 24.03.2015r. na zajęciach w Warszawskim Centrum Pantomimy na Scenie Na Woli Teatru Dramatycznego w Warszawie.
			Uczestnicy spotkania zmierzyli się z własnymi słabościami i wewnętrznymi barierami, uzewnętrznili swoje emocje i przełamali wstyd. Wręcz zachwycili zdobytymi w tak krótkim czasie umiejętnościami. Ich twarze oraz ruchy ciała potrafiły przekazać wiele emocji: od zachwytu po rozczarowanie, od radości po smutek, od zaskoczenia po przerażenie.
			</br></br>
			Zapraszamy do obejrzenia zdjęć, które są najlepszym tego dowodem.
			</br></br> 
			Serdecznie dziekujemy aktorkom prowadzącym warsztaty, Pani Marcie Grądzkiej oraz Pani Ewelinie Grzechnik, których  wrażliwość i zaangażowanie było wzruszające i nieocenione.
			</br></br>
			Dziekujemy za przybycie grupom z  Zespołu Szkół Specjalnych nr 105, Zespołu Szkół Specjalnych nr 89 oraz  Warsztatów Terapii Zajęciowej Stowarzyszenia Otwarte Drzwi.
			</br></br>
			Dziękujemy Panu Bartłomiejowi Ostapczukowi za umożliwienie tego spotkania i z niecierpliwością czekamy na kolejne.
		</div>
		<div id="category8View"></div>
	</div>
	<div class="eventWrapper" id="category7">
		<div class="eventTitle text strong">2015 Kalendarz - 02.01.2015r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/intro.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Kalendarz na rok 2015 wydany przez naszą Fundację, powstał z myślą o poznaniu nieznanego i niezrozumiałego, w celu przybliżenia osób z niepełnosprawnością intelektualną i pokazania choć odrobinę Ich świata, który w dużej mierze nie różni się od świata osób pełnosprawnych. Oni też mają swoje marzenia, smutki i radości, plany, poczucie humoru i miłości. Ich życie jest pełne emocji, uczuć, potrzeb i oczekiwań.
			</br>
			Agata, Gabrysia i Kamila oraz Sylwek, Maciek i Marek zgodzili się wziąć udział w sesji do tego kalendarza, za co jesteśmy Im bardzo wdzięczni. Ich gotowość do działania i wcielania się w rozmaite role, podejmowanie zadań, które wymagały wyobraźni i kreatywności, są godne podziwu.
			</br>
			Wdzięczne również jesteśmy Rodzicom naszych Fotomodeli, którzy przyjęli nasze zaproszenie, za otwartość, zrozumienie i serdeczność.
			</br>
			Dziękujemy osobom, które umożliwiły nam realizację zdjęć w Studio Urody Carmella oraz w restauracji Chicago's Pizza na Ursynowie.
			</br>
			Dziękujemy fotografowi Panu Włodzimierzowi Karnkowskiemu i <i>zukas</i>, za poświęcony czas, cierpliwość i wsparcie.
			</br>
			Dziękujemy firmie Barentz Sp. zo.o., która wsparła realizację tego kalendarza.
			</br></br>
			Mamy nadzieję, że ten kalendarz spodoba się Państwu i pozwoli spojrzeć na osoby niepełnosprawne trochę inaczej, z większym zrozumieniem i akceptacją.
			</br></br>
			Kalendarze są dostępne dla każdego. Jeśli ktoś z Państwa chciałby go otrzymać, prosimy o kontakt mailowy na adres: info@fundacjatakijestem.pl
			</br></br>
			Bądżcie z nami i wspierajcie nas w naszych działaniach.
		</div>
		<div id="category7View"></div>
	</div>
	<div class="eventWrapper" id="category6">
		<div class="eventTitle text strong">Teatr Studio - 11.12.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/studio.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
		11 grudnia w Teatrze Studio w Warszawie odbyły się długo oczekiwane Spotkania Teatralne. Impreza była  podsumowaniem cyklu warsztatów, które odbyły się na przestrzeni kilku miesięcy w Warszawskim Centrum Pantomimy, Teatrze Syrena oraz w Teatrze Baj. Podczas Spotkań Teatralnych mogliśmy podziwiać zespoły, które właśnie w tych warsztatach brały udział. 
		</br></br>
		W pierwszej części Spotkań udział wzięły następujące zespoły: Mandarynki ze Szkoły Podstawowej Nr 330 z Oddziałami Integracyjnymi w Warszawie "O żabce, która miała marzenie", Mim i spółka z Zespołu Placówek Szkolno-Wychowawczo-Rewalidacyjnych Nr 1  w Warszawie "Tydzień", Teatr Ruchu Balonik reprezentujący Mazowiecki Instytut Kultury oraz Warszawskie Koło Polskiego Stowarzyszenia na Rzecz Osób z Upośledzeniem Umysłowym  "Rzeźby. Obrazy biblijne" oraz Bingo z Zespołu Szkół nr 98 "Mały Powstaniec".
		</br></br>
		W drugiej części Spotkań Teatralnych podziwialiśmy aktorów z Ośrodka Szkolno-Wychowawczego z Pruszkowa "Z muzyką przez życie", Zespół Szkół im. Janiny Porazińskiej w Ignacowie "Obok siebie", Gang z Długiej z Zespołu Szkół nr 105 w Warszawie, a imprezę zakończył występ Teatru Ruchu Balonik w Tańcu hiszpańskim.
		</br></br>
		W przerwie pomiędzy obiema częściami, goście zostali zaproszeni do foyer na mały poczęstunek.
		</br>
		Wszystkie prezentacje cechowały się bardzo wysokim poziomem i ogromną różnorodnością. Słowa uznania należą się wychowawcom i opiekunom, którzy przygotowali aktorów do występu. Ich pomysłowość, profesjonalizm i wrażliwość dały efekt, który zasługuje na olbrzymie brawa.
		Zmagania aktorów poprzedził występ  Pana Jakuba Karpoluka wraz z  Polską Grupą Nō Ryokurankai,  którzy zabrali nas w daleką egzotyczną podróż, aż do Kraju Kwitnącej Wiśni. Teatr Nō jest najstarszą, bo 600-letnią formą japońskiego teatru. Jest to teatr poetycki i muzyczny. Charakteryzuje się niezwykłą subtelnością wyrazu i wyrafinowaną symboliką. Podstawą gry aktorskiej jest ekspresja ciała - taniec, ponadto ekspresja głosu - śpiew i melodeklamacja, oraz ekspresja maski. Po prezentacji siedmiu tańców, Pan Karpoluk zaprosił chętnych do udziału w mini-warsztatach, podczas których przybliżył elementy techniki teatru japońskiego.
		</br></br>
		Bardzo dziękujemy naszym wolontariuszom, uczniom warszawskiego Liceum im. L. Staffa: Natalii, Martynie, Adzie, Magdzie, Tomkowi i Michałowi oraz Tosi z Gimnazjum w Łomiankach. Pomogli nam w organizacji i obsłudze imprezy, a Ich serdeczność i otwartość w stosunku do naszych uczestników spotkała się z dużym uznaniem naszych gości. Jesteśmy Im bardzo wdzięczni za pomoc, bez której byłoby nam ciężko.
		</div>
		<div id="category6View"></div>
	</div>
	<div class="eventWrapper" id="category5">
		<div class="eventTitle text strong">Teatr Baj - 30.09.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/baj.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Czy martwy przedmiot może ożyć?
			</br>
        	Może, a dowiedli tego Państwo Elżbieta Bieda i Kamil Król podczas II części warsztatów w ramach cyklu warsztatów, które odbyły się w Teatrze Baj w dniu 30/09/2014.
        	</br></br>
          	Zamknijcie oczy, wsłuchajcie się w siebie, a zobaczycie latające kapelusze, chodzące na szpileczkach okulary słoneczne, gadające garnki i szczekające szczotki.
          	</br></br>
          	Zamknijcie oczy i puśćcie wodze fantazji, a zaskoczy Was z jaką łatwością zwykły przedmiot użytku codziennego, zamienia się we wszystko czego tylko zapragniemy, na co tylko pozwoli nam nasza wyobraźnia.
          	</br></br>
          	Dzięki inwencji twórczej Pani Eli i Pana Kamila, po raz drugi mieliśmy ogromną przyjemność i zaszczyt uczestniczyć w magicznym spotkaniu, po którym zwykłe rzeczy przestają już wydawać się takimi, jakimi są, a szara codzienność nabiera koloru.
          	</br></br>
          	Dziękujemy Pani Aldonie Kaszuba za zorganizowanie warsztatów i do zobaczenia na Spotkaniach teatralnych.
		</div>
		<div id="category5View"></div>
	</div>
	<div class="eventWrapper" id="category4">
		<div class="eventTitle text strong">Teatr Syrena - 14.05.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/syrena.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			14 maja br. w Teatrze Syrena, odbyły się zamykające pierwszy cykl warsztaty teatralne, połączone z wycieczką po teatrze i jego "tajemniczym" zapleczu. Dzięki temu uczestnicy spotkania, poszerzyli swoją wiedzę na temat teatru, zobaczyli nieznane dla powszechnych bywalców teatru miejsca, poznali sposoby i 'chwyty' stosowane w sztuce tworzenia bajecznej, często skomplikowanej scenografii. Naszym przewodnikiem po zakamarkach teatru była Pani Anna Modrzejewska. 
			</br></br>
      		W tajniki sztuki teatralnej wprowadzili nas aktorzy teatru: Pani Beatrycze Łukaszewska oraz Pan Zbigniew Kozłowski, dzięki którym staraliśmy się odkryć własne możliwości, wzbogaciliśmy swoją wyobraźnię i fantazję, a także próbowaliśmy wyrażać i werbalizować własne uczucia i emocje.
      		</br></br>
        	Dziękujemy za fantastyczne spotkanie!
		</div>
		<div id="category4View"></div>
	</div>
	<div class="eventWrapper" id="category3">
		<div class="eventTitle text strong">Teatr Baj - 08 i 13.05.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/baj.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Wyprawę do magicznego świata Teatru Baj rozpoczęliśmy 8 maja spektaklem "Dr Dolittle i jego zwierzęta". Pięć dni później odbyły się warsztaty, podczas których poznaliśmy sekrety ożywiania materiału o różnej fakturze i wielkości oraz sztuki animacji. Dzięki temu przenieśliśmy się do świata naszej wyobraźni, gdzie jak za dotykiem czarodziejskiej różdżki, tchnęliśmy życie w kawałki szmatek, sznurka, styropianowe kulki, które przez chwilę stworzyły żywy, barwny i bajkowy świat. Udało nam się tego dokonać dzięki aktorom Teatru Baj: Pani Elżbiecie Bieda i Panu Kamilowi Król oraz Pani Aldonie Kaszuba, która umożliwiła nam to spotkanie. Z niecierpliwością czekamy na nasze wrześniowe spotkanie. 
       		</br></br>
        	Do zobaczenia!
		</div>
		<div id="category3View"></div>
	</div>
	<div class="eventWrapper" id="category2">
		<div class="eventTitle text strong">Warszawskie Centrum Pantomimy / Scena Na Woli Teatru Dramatycznego - 03.04.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/scena.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			Spotkanie z pantomimą rozpoczęło cykl warsztatów, skierowanych do osób z niepełnosprawnością intelektualną, które poprzedzają jesienne Spotkania Teatralne, gdzie młodzi aktorzy zaprezentują swoje umiejętności wzbogacone wiedzą i doświadczeniem, nabytymi podczas warsztatów.
			</br></br>
		    W tajniki sztuki teatru pantomimy wprowadzili nas aktorzy Teatru Mimo Bartłomieja Ostapczuka, Panie Maja Pieczerak i Marta Grądzka. Podczas zajęć uczestnicy doświadczyli sztuki, w której myśli i emocje, przekazywane są za pomocą ruchu, mowy ciała i gestów. Uczestnicy warsztatów przenieśli się w ten magiczny świat różnorakich odczuć i przeżyć. Było to piękne spotkanie i choć po tych kilku godzinach ciężkich ćwiczeń i widocznego zmęczenia, z twarzy uczestników (i opiekunów) nie schodził uśmiech &#x263A;. 
			</br></br>
		    Naszym poczynaniom sekundował dobry duch teatru - pies Marcel. 
		    </br></br>
		    Serdecznie pozdrawiamy!
		</div>
		<div id="category2View"></div>
	</div>
	<div class="eventWrapper" id="category1">
		<div class="eventTitle text strong">22 Finał Wielkiej Orkiestry Świątecznej Pomocy za nami - 12.01.2014r.</div>
		<div class="eventText text">
			<div class="card">
				<img class="eventLogo front" src="images/rh.png">
				<div class="back">
					<div class="text strong">Galeria</div>
				</div>
			</div>
			<span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM </span> we współpracy z Gimnazjum nr 92 przy ul. Koncertowej 4 oraz Ursynowskim Szkolnym Sztabem Mandarynka, miała ogromny zaszczyt i przyjemność uczestniczyć w tym wielkim wydarzeniu.
			</br></br>
        	12 stycznia, w godzinach 15:00 – 18:00, na terenie Gimnazjum nr 92, huczało od muzyki, gwaru i fantastycznej zabawy. Całość imprezy poprowadził Pan Robert Janowski, który w pełnej integracji z uczestnikami spotkania, stworzył ciepłą i rodzinną atmosferę spotkania.
        	</br></br>
      		Jako pierwszy wystąpił opowiadacz bajek, Pan Michał Malinowski, twórca i dyrektor Muzeum Bajek, Baśni i Opowieści w Konstancinie, MuBaBaO. Podczas swoich licznych podróży po świecie odkrył pasję opowiadania i kontynuowania tradycji ustnych. Przedstawił historię chłopca, która na chwilę pozwoliła zapomnieć nam o rzeczywistym świecie, wzbudziła refleksje istoty i sensu życia, tego co tak naprawdę jest najważniejsze. Występ zakończył się budowaniem bajkowego świata z klocków MuBaBaO. Wszystkie dzieci z wielką chęcią i radością przyłączyły się do wspólnej zabawy.
      		</br></br>
    		W międzyczasie uczestnicy spotkania zaproszeni zostali do stoisk: kawiarenki, sklepiku, punktu malowania paznokci. Goście mieli możliwość zrobienia sobie warkoczyków i biżuterii, wzięcia udziału w mini-warsztatach ceramicznych oraz warsztatach plastycznych, które wspólną pracą wszystkich zainteresowanych, zakończyło się utworzeniem "Drzewka naszych serc".
    		</br></br>
       		Kolejnym punktem imprezy był występ Teatru Ruchu "Balonik", który w dwóch wyjściach zaprezentowałTaniec worków, Paso Doble, Karnawał wenecki oraz Taniec ognia. Teatr reprezentuje Mazowieckie Centrum Kultury i Sztuki w Warszawie oraz Warszawskie Koło Polskiego Stowarzyszenia na Rzecz Osób z Upośledzeniem Umysłowym. Grupę prowadzi Pan Wojciech Gębski, liczy 26 osób i w swoim repertuarze ma 25 tańców i trzy spektakle taneczne. W roku 2012 obchodził jubileusz 20 lecia istnienia. Podczas swoich występów, zespół zaprezentował nieprawdopodobnie bogate i piękne stroje, a zaangażowanie tancerzy wzruszało najtwardsze serca.
       		</br></br>
     		Po pełnym emocji występie "Balonika", Pani Anna Jastrzębska zaprosiła wszystkich do wspólnej zabawy, gdzie w gorących rytmach Zumby, całe szkolne forum zapełniło się roztańczonym tłumem ludzi. Bez wstydu, bez oporu, bez podziału na wiek czy płeć. Wszyscy z radością przyłączyli się do grupowego tańca.
     		</br></br>
        	Ogromne emocje wzbudził konkurs: "Jaka to melodia", który poprowadził Pan Robert Janowski. Pięć 3-osobowych grup, przez blisko godzinę zmagało się z melodiami największych muzycznych hitów. Bezkonkurencyjny okazał się przyjaciel naszej Fundacji, Krzysztof, który swoją wiedzą i słuchem muzycznym, zadziwił i zachwycił każdego, i mógłby stanąć w konkury z najlepszymi uczestnikami telewizyjnego programu "Jaka to Melodia".
        	</br></br>
      		Chwila oddechu i na scenie pojawia się grupa taneczna "Spontan", która trenuje w Kabaty Dance Studio od 3 lat. Odnoszą sukcesy na turniejach w całej Polsce, a grupę prowadzi Pani Paulina Gajewska.W hip-hopowym rytmie powoli zbliżyliśmy się do końca imprezy, gdzie swoje wokalne i taneczne talenty zaprezentowali także uczniowie Gimnazjum nr 92.
      		</br></br>
      		Na zakończenie imprezy, przedstawieni zostali wolontariusze biorący udział w akcji zbierania pieniędzy, które zasiliły konto 22 Finału WOŚP. Wśród nich byli absolwenci Gimnazjum nr 92 zarejestrowani w Ursynowskim Szkolnym Sztabie Mandarynka oraz podopieczni <span class="p1 text"> Fundacji </span><span class="p2 text">TAKI JESTEM</span>. Wspólnymi siłami, ramię w ramię, w atmosferze pełnej akceptacji i życzliwości, zbierali środki dla wsparcia głównej idei tegorocznego Finału WOŚP.
      		</br></br>
       		Impreza, która odbyła się na terenie Gimnazjum nr 92 przy ul. Koncertowej 4, której mieliśmy zaszczyt być współorganizatorem w ramach 22 Finału WOŚP, miała podwójne znaczenie. Prócz głównej idei niesienia pomocy innym, istotny i znamienny jest fakt pełnej integracji. Dlatego szczególne uznanie należy się uczniom i absolwentom Gimnazjum, którzy czynnie włączyli się w przygotowania i obsługę imprezy. Ich otwartość i serdeczność, z jaką przyjęli osoby niepełnosprawne intelektualnie, wpłynęły na niepowtarzalną i ciepłą atmosferę całego spotkania.
       		</br></br>
      		Dziękujemy, że mogliśmy wspólnie stworzyć coś tak pozytywnego i dającego radość innym, a przy okazji włączyć się w pomoc innym.
		</div>
		<div id="category1View"></div>
	</div>
</div>
{% endblock %}