{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="./css/gallery.css" type="text/css"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="./script/gallery.js"></script>
<script type="text/javascript" src="./script/utils/gallery.js"></script>
{% endblock %}

{% block content %}
<div id="galleryContent">
	
<!-- 	<div class="category tiltOdd" id="eve1">
		<img src="/images/image_1.jpg"/>
		<div class="caption">Teatr Syrena - 14.05.2014r.</div>
	</div>
	<div class="category tiltEven" id="eve2">
		<img src="/images/image_2.jpg"/>
		<div class="caption">Teatr Baj - 13.05.2014r.</div>
	</div>
	<div class="category tiltOdd" id="eve3">
		<img src="/images/image_3.jpg"/>
		<div class="caption">Teatr Baj - 17.06.2014r.</div>
	</div>
	<div class="category tiltEven" id="eve4">
		<img src="/images/image_4.jpg"/>
		<div class="caption">Teatr Baj - 21.08.2014r.</div>
	</div>
	<div class="category tiltOdd" id="eve5">
		<img src="/images/image_5.jpg"/>
		<div class="caption">Teatr Baj - 7.09.2014r.</div>
	</div>
	<div class="category tiltEven" id="eve6">
		<img src="/images/image_6.jpg"/>
		<div class="caption">Teatr Baj - 29.09.2014r.</div>
	</div>
	<div class="category tiltOdd" id="eve7">
		<img src="/images/image_7.jpg"/>
		<div class="caption">Teatr Baj - 10.10.2014r.</div>
	</div>
	<div class="category tiltEven" id="eve8">
		<img src="/images/image_8.jpg"/>
		<div class="caption">Teatr Baj - 27.10.2014r.</div>
	</div> -->
</div>
{% endblock %}