{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="./css/home.css" type="text/css"/>
{% endblock %}

{% block script %}
<script type="text/javascript" src="./script/home.js"></script>
{% endblock %}

{% block content %}
<div id="eventContainer">
	<div class="post">
		<div class="date text">post 08.12.2015r.</div>
		<div class="post-container">
			<img class="img" src="images/mst.png"></img>
			<div class="postContent text indent">
				Z przyjemnością pragniemy przekazać, iż 15.12.2015r., na Scenie Teatru Dramatycznego Przodownik, widzimy się na II Spotkaniach Teatralnych TAKI JESTEM 2015, będących podsumowaniem tegorocznych warsztatów teatralnych. Prawie wszyscy uczestnicy potwierdzili swoją obecność i z niecierpliwością odliczamy dni do spotkania.
				Do zobaczenia!
				<br/><br/>
				<br/><br/>
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 08.12.2015r.</div>
		<div class="post-container">
			<img class="img" src="images/pc.png"></img>
			<div class="postContent text indent">
				Od firmy Barentz Sp. zo.o., naszego długoletniego partnera, otrzymaliśmy osiem komputerów. Trafią one do naszych przyjaciół oraz wspomogą placówki społeczne. Gorąco dziękujemy za Waszą przyjażń, wsparcie, życzliwość i otwartość.
				<br/><br/>
				<br/><br/>
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 31.08.2015r.</div>
		<div class="post-container">
			<img class="img" src="images/cake.png"></img>
			<div class="postContent text indent">
				<span class="p1 text"> Fundacja </span><span class="p2 text">TAKI JESTEM</span> obchodzi 2 lata. Dziękujemy wszystkim, którzy byli z nami przez cały ten czas. Poznaliśmy wiele wspaniałych osób, przeżyliśmy fantastyczne chwile. Dziękujemy za pomoc, wsparcie i dobre słowo. Mamy nadzieje, że to dopiero początek i przed nami dużo więcej cudownych chwil, przeżyć i emocji. Pomysłów mamy wiele i wierzymy, że z Waszą pomocą i wsparciem, wszystkie nasze inicjatywy staną się możliwe, realne i ziszczą nasze wspólne marzenia.
				<br/><br/>
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 04.04.2015r.</div>
		<div class="post-container">
			<div class="postContent text indent">
				Najserdeczniejsze życzenia zdrowych, radosnych i spokojnych świąt Wielkiej Nocy, smacznego jajka, mokrego dyngusa, a także odpoczynku w rodzinnym gronie życzy<span class="p1 text"> Fundacja </span><span class="p2 text">TAKI JESTEM</span>
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 23.03.2015r.</div>
		<div class="post-container">
			<div class="postContent text indent">
				Wraz z nadejściem wiosny przedstawiamy nasze plany na najbliższą przyszłość.
				</br>
				Już jutro 24 III o godzinie 09:00 w Warszawskim Centrum Pantomimy rozpoczynamy nowy cykl warsztatów teatralnych. Kolejne zaplanowane są 17 IV w Teatrze Baj, a w maju i czerwcu widzimy się w Starej Prochowni, Tetarze Muzycznym Roma oraz w Teatrze Rozmaitości.
				</br>
				Planujemy również konkurs fotograficzny TAKI JESTEM, ukazujący świat osób niepełnosprawnych i pełnosprawnych, połączony z zajęciami plenerowymi oraz wystawą zdjęć.
				</br>
				Turniej piłki nożnej, zajęcia o charakterze terapeutycznym Dog Frisbee pod okiem profesjonalnych trenerów na Polach Mokotowskich, maraton taneczny, edukacyjne warsztaty integracyjne „Poznajmy się” dla dzieci i młodzieży z warszawskich szkół oraz organizacja wolontariatu - to tylko niektóre z naszych zamierzeń na najbliższe miesiące.
				</br>
				Jak zawsze, bieżące relacje ze wszystkich spotkań i akcji, umieszczone zostaną w zakładce wydarzenia.
				</br></br>
				<strong>
				Mamy mnóstwo pomysłów i ogromną pasję. Jedynym naszym ograniczeniem są finanse, których brak hamuje, a czasem wręcz uniemożliwia jakiekolwiek działania. Dlatego zwracamy się z gorącą prośbą o wsparcie naszej Fundacji i naszych przedsięwzięć.
				Będziemy wdzięczni za każdą formę pomocy.
				</strong>
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 02.01.2015r.</div>
		<div class="post-container">
			<img class="img previewImage" src="images/intro.png"></img>
			<div class="postContent text indent">
				Już drugi rok z rzędu, przy wsparciu i współpracy z firmą Barentz Sp. zo.o., 
				wydaliśmy nowy kalendarz na rok 2015. Zapraszamy do zakładki wydarzenia.
			</div>
		</div>
	</div>

	<div class="post">
		<div class="date text">post 24.12.2014r.</div>
		<div class="post-container">
			<img class="img" src="images/cristmas_bells.png"></img>
			<div class="postContent text indent">
				Z okazji nadchodzących Świąt Bożego Narodzenia życzymy Państwu spokojnych, 
				radosnych i magicznych chwil spędzonych wśród najbliższych, 
				a w nadchodzącym roku 2015  samych sukesów i siły na realizacje zamierzonych planów.
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 30.09.2014r.</div>
		<div class="post-container">
			<div class="postContent text indent">
				Z ogromną przyjemnością pragniemy przekazać, iż zapowiadane Spotkania 
				Teatralne, będące podsumowaniem tegorocznych warsztatów tetralnych, 
				odbędą się 11 grudnia w Teatrze Studio w Warszawie. Wszyscy uczestnicy 
				warsztatów potwierdzili już swoją obecność. Nie możemy się doczekać, 
				zapowiada sie wspaniałe przedpołudnie i wszystkim biorącym udział w tym 
				spotkaniu, życzymy niezapomnianych wrażeń.
				</br></br>
				Do zobaczenia i wkrótce zdradzimy szczegóły spotkania.
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 29.09.2014r.</div>
		<div class="post-container">
			<div class="postContent text indent">
				W dniu 19.11.2014r. w Legionowie w Muzeum Historycznym, na zaproszenie 
				Fundacji Kultura Bez Barier, odbyły się warsztaty poprowadzone przez 
				<span class="p1 text"> Fundacje </span><span class="p2 text">TAKI JESTEM </span>dla pracowników Muzeum. Miały one na celu 
				przybliżenie osób z niepełnosprawnością intelektualną i pomóc w ukierunkowaniu 
				działań podejmowanych przez Muzeum w celu zaistnienia tych osób w 
				wydarzeniach kulturalnych, odpowiednio dostowanych do ich potrzeb i 
				możliwości.
				</br></br>
				Dziekujemy za zaproszenie i liczymy na dalszą współpracę.
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 23.09.2014r.</div>
		<div class="post-container">
			<div class="postContent text indent">
				Wraz z nowym sezonem jesiennym, wracamy do pracy.
				</br>
				Na naszej stronie na bieżąco informować będziemy o poczynaniach Fundacji.
				</br>
				Przed nami II część warsztatów, które odbędą się w ramach cyklu warsztatów w Teatrze Baj w dniu 30/09/2014 o godz. 12:00.
				</br>
				Wkrótce zdradzimy szczegóły spotkania!
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 16.06.2014r.</div>
		<div class="post-container">
			<div class="postContent text indent">
				Pragniemy poinformować, iż dzięki niewielkiemu wsparciu naszej Fundacji, w dniu 15/05/2014 odbył się Festiwal Piosenki Religijnej, w której udział wzięły osoby niepełnosprawne intelektualnie z warszawskich placówek.
				</br>
				Gratulujemy Pani Grażynie Świętochowskiej, pomysłodawczyni i głównej organizatorce,  i życzymy dalszych sukcesów.
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 02.05.2014r.</div>
		<div class="post-container">
			<img class="img" src="images/masks.png"></img>
			<div class="postContent text">
				<strong>WARSZTATY TEATRALNE 2014</strong>
				</br>
				W tym roku ruszył cykl warsztatów teatralnych, które poprzedzają planowane na jesień SPOTKANIA TEATRALNE.
				</br></br>
				* Warszawskie Centrum Pantomimy / Scena Na Woli Teatru Dramatycznego - 03.04.2014r. 
				</br>
				** Teatr Baj - 08 i 13.05.2014r.
				</br>
				*** Teatr Syrena - 14.05.2014r.
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 24.01.2014r.</div>
		<div class="post-container">
			<div class="postContent text indent">
				<span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM </span>pragnie gorąco podziękować za możliwość zorganizowania we współpracy imprezy w ramach Wielkiej Orkiestry Świątecznej Pomocy, która odbyła się w dniu 12/01/2014r.
				</br></br>
			    Słowa wdzięczności kierujemy pod adresem Gimnazjum nr 92 im. J.U. Niemcewicza, na terenie którego zostało zorganizowane spotkanie, Pani Monice Nowakowskiej oraz pozostałym nauczycielom Gimnazjum, którzy aktywnie przyłączyli się do całego przedsięwzięcia, których życzliwość, zaangażowanie oraz pomysłowość,  pozwoliły stworzyć wspaniałe spotkanie. Na uznanie zasługuje postawa uczniów i absolwentów Gimnazjum, którzy czynnie włączyli się w przygotowania i obsługę imprezy. Ich otwartość i serdeczność, z jaką przyjęli osoby niepełnosprawne intelektualnie, wpłynęły  na niepowtarzalną i ciepłą atmosferę całego spotkania.
			    </br></br>
			    Dziękujemy również Ursynowskiemu Szkolnemu Sztabowi Mandarynka za współpracę i przyjęcie zaproszenia.
			    </br></br>
			    Dziękujemy Panu Robertowi Janowskiemu za poprowadzenie całej imprezy, który swoją otwartością i ciepłem, w pełnej integracji ze wszystkimi uczestnikami spotkania, stworzył przyjazną i domową atmosferę.
			    </br></br>
			    Dziękujemy wszystkim pozostałym  uczestnikom, którzy zgodzili się wziąć udział w tym spotkaniu: Teatr Ruchu "Balonik" z Panem Wojciechem Gębskim, Pan  Michał Malinowski, Pani Anna Jastrzębska i grupa taneczna „Spontan”.
			    </br></br>
			    Dziękujemy, że mogliśmy wspólnie stworzyć coś tak pozytywnego i dającego  radość innym, a przy okazji włączyć się w pomoc innym.
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 20.12.2013r.</div>
		<div class="post-container">
			<img class="img" src="images/rh.png"></img>
			<div class="postContent text">
				<strong>22 FINAŁ WOŚP 12 stycznia 2014r</strong>. 
				</br>
				HASŁO: NA RATUNEK
				</br>
				NA ZAKUP SPECJALISTYCZNEGO SPRZĘTU DLA DZIECIĘCEJ MEDYCYNY RATUNKOWEJ I GODNEJ OPIEKI MEDYCZNEJ SENIORÓW
				</br>
				Serdecznie zapraszamy na spotkanie w ramach 22 Finału WOŚP.
				</br>
				W programie spotkanie z bajarzem, warsztaty plastyczne, konkursy oraz inne atrakcje.
				</br>
				Całość poprowadzi Robert Janowski.
				</br></br>
				Organizatorami imprezy jest Ursynowski Szkolny Sztab Mandarynka,
				</br>
				młodzież z Gimnazjum nr 92 im. J.U. Niemcewicza oraz <span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM</span>.
				</br></br>
				Ruszamy 12 stycznia o godz.15.00 w gimnazjum przy ul. Koncertowej 4.
				</br>
				Czekamy na Ciebie! 
				</br>
				Do zobaczenia!!!!!!!!!!!
			</div>
		</div>
	</div>
	<div class="post">
		<div class="date text">post 25.01.2014r.</div>
		<div class="post-container">
			<img class="img previewImage" src="images/rysunki-kalendarz.png"></img>
			<div class="postContent text">
				Z przyjemnością informujemy, że we współpracy z firmą Barentz Sp. zo.o., wydaliśmy kalendarz na rok 2014, który zawiera prace naszych przyjaciół!
			</div>
		</div>
	</div>
</div>
{% endblock %}