<!doctype html>
<html>
	<head>
  		<meta charset="utf-8">
  		<!--[if (IE 6) | (IE 7) | (IE 8)]>
  		<link rel="stylesheet" href="./css/unsupported.css" type="text/css">
  		<![endif]-->
  		<!--[if (gte IE 9)|!(IE)]><!-->
  		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  		<script type="text/javascript" src="./script/jquery.flex-images.js"></script>
  		<script type="text/javascript" src="./script/jquery.scrollTo.js"></script>
  		<script type="text/javascript" src="./script/jquery.media.js"></script>
  		<script type="text/javascript" src="./script/jquery.magnific-popup.js"></script>
  		{% block script %}
  		{% endblock script %}
  		<script type="text/javascript" src="./script/init.js"></script>
  		
  		<link rel="stylesheet" href="./css/magnific-popup.css" type="text/css">
  		{% block style %}
  		{% endblock style %}
  		<link rel="stylesheet" href="./css/style.css" type="text/css">
  		<!--<![endif]-->
  		<title>Fundacja TAKI JESTEM</title>
	</head>

	<body>
		<!--[if (IE 9) | (IE 10) | (IE 11)]>
		<script>
		document.body.className += " ie";
		</script>
		<![endif]-->
		<!--[if IE 8]>
		<script>
		document.body.className = "ie8";
		</script>
		<![endif]-->
		<!--[if (IE 6) | (IE 7) | (IE 8)]>
  		<div class="unsupported center">
  			<img id="logo" src="./images/logo.png"></img>
		    <div id="slogan"><span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM</span></div>
		    <div id="words">Aktywizowanie i wspieranie osób z niepełnosprawnością intelektualną</div>
  			<div class="text">Pragniemy poinformować, iż przeglądarka z której korzystasz, nie może być użyta do obejrzenia tej strony internetowej. Aby uzyskać dostęp do strony, proszę skorzystać z nowoczesnej przeglądarki internetowej.</div>
  			<div class="text">Sugerujemy następujące przeglądarki internetowe:</div>
  			<a href="https://www.mozilla.org/en-US/firefox/all/?q=Polish,%20Polski"><img class="browser" src="./images/firefox.png"></a>
  			<a href="https://www.google.pl/intl/en/chrome/browser/"><img class="browser" src="./images/chrome.png"></a>
  		</div>
  		<![endif]-->
		<!--[if (gte IE 9)|!(IE)]><!-->
<!-- 	<div id="backPic1" class="pictureFrame backdrop">
			<img src="images/322.jpg">
		</div>
		<div id="backPic2" class="pictureFrame backdrop">
			<img src="images/2041.jpg">
		</div>
		<div id="backPic3" class="pictureFrame backdrop">
			<img src="images/122.jpg">
		</div> -->
		<div id="header">
			<div class="center">
		    	<div id="logo"></div>
		    	<div id="slogan"><span class="p1 text">Fundacja </span><span class="p2 text">TAKI JESTEM</span></div>
		    	<div id="words" class="text">Aktywizowanie i wspieranie osób z niepełnosprawnością intelektualną</div>
		    	<div id="navigation">
		    		<input type="button" class="nav text strong" id="home" value="Strona Główna"></input>
		    		<input type="button" class="nav text strong" id="about" value="O Nas"></input>
		    		<input type="button" class="nav text strong" id="events" value="Wydarzenia"></input>
		    		<input type="button" class="nav text strong" id="contact" value="Kontakt"></input>
		    	</div>
	    	</div>
	    </div>
	    <div id="headerSeparator"></div>
	    <div id="contentWrapper" class="center">
	    	<div id="content">
	    		{% block content %}
  				{% endblock content %}
	    	</div>
	    </div>
	    <div id="footer">
	    	<div class="center">
	    		<div class="text"><span class="p1 text strong">Fundacja </span><span class="p2 text strong">TAKI JESTEM </span>&reg; (KRS: 0000475152)</div>
	    		<div class="text">ul. Puszczyka 15 lok 18</div>
	    		<div class="text">02-785 Warszawa</div>
	    		<div class="text"><strong>Bank Pekao S.A., 98 1240 6250 1111 0010 5425 9325</strong></div>
	    		<div id="season"></div>
	    	</div>
	    </div>
	    <!--<![endif]-->
	</body>
</html>