<!doctype html>
<html>
	<head>
  		<meta charset="utf-8">
  		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  		<script type="text/javascript" src="./script/brickwall.js"></script>
  		<script type="text/javascript" src="./script/jquery-scrollto.js"></script>
  		<script type="text/javascript" src="./script/init.js"></script>
  		{% block script %}
  		{% endblock script %}
  		<link rel="stylesheet" href="./css/style.css" type="text/css">
  		{% block style %}
  		{% endblock style %}
  		<title>Fundacja Taki Jestem</title>
	</head>
	<body class="mainFont">
		<div id="header">
			<div class="center">
		    	<div id="logo"></div>
		    	<div id="slogan"><span class="p1 text">Fundacja </span><span class="p2 text">Taki Jestem</span></div>
		    	<div id="words" class="text">Aktywizowanie i wspieranie osób z niepełnosprawnością intelektualną</div>
		    	<div id="navigation">
		    		<input type="button" class="nav text" id="home" value="Home"></input>
		    		<input type="button" class="nav text" id="about" value="About"></input>
		    		<input type="button" class="nav text" id="gallery" value="Gallery"></input>
		    		<input type="button" class="nav text" id="events" value="Events"></input>
		    		<input type="button" class="nav text" id="contact" value="Contact"></input>
		    	</div>
	    	</div>
	    </div>
	    <div id="headerSeparator"></div>
	    <div id="contentWrapper" class="center">
	    	<div id="content">
	    		{% block content %}
  				{% endblock content %}
	    	</div>
	    </div>
	    <div id="footer">
	    	<div class="center">
	    		<div class="text">Fundacja Taki Jestem&reg; (KRS: 0000475152)</div>
	    		<div class="text">ul. Puszczyka 15 lok 18</div>
	    		<div class="text">02-785 Warszawa</div>
	    		<div class="text"><strong>Bank Pekao S.A., 98 1240 6250 1111 0010 5425 9325</strong></div>
	    		<div id="season"></div>
	    	</div>
	    </div>
	</body>
</html>