.homePage .homeImage {
	background-image: url("../images/christmas.jpg");
	background-size: 229px 339px;
	width: 229px;
	height: 339px;
	display: inline-block;
	position: absolute;
	margin: 0px;
}

.homePage .homeText {
	margin: 0px;
	display: inline-block;
	position: absolute;
	margin-left: 250px;
}

.homePage .homeText .split{
	text-align: center !important;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}

.homePage .charityInfo {
	display: block;
	position: absolute;
	bottom:50px;
}

.homePage .charityInfo .split{
	color: #888;
	font-size: 16px;
}