
.eventWrapper {
	perspective: 1000;
	display: block;
	position: relative;
	padding-bottom: 10px;
	padding-top: 10px;
	border-top: 1px solid #f7941e;
	border-bottom: 1px solid #343433;
}

.eventWrapper:last-child {
	border-bottom: none;
}

.eventWrapper:first-child {
	padding-top: 0px;
	border-top: none;
}

.eventTitle {
	margin-bottom: 10px;
	font-size: 1.5em;
	cursor: pointer;
}

.eventWrapper:hover .eventTitle {
	color: #f7941e;
}

.eventWrapper:hover .card, .eventWrapper.hover .card {
	transform: rotateY(180deg);
}

.eventLogo {
	display: inline;
	/*margin: 2em 2em 2em 2em;*/
	cursor: pointer;
}

.card {
	display: inline;
	position: relative;
	margin: 2em 2em 2em 2em;
	cursor: pointer;
	transition: 0.6s;
	transform-style: preserve-3d;
}

.back .text{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 2em;
	color: #f7941e;
	text-shadow: 1px 1px 0px #343433;
}

.card .front, 
.card .back{
	backface-visibility: hidden;
	position: absolute;
	text-align: center;
	left: 0px;
	top: 0px;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
	background : transparent url("../images/backdrop.png") no-repeat center;
	background-size: 100% auto;
}

.eventWrapper:nth-child(even) .card {
	float: right;
}

.eventWrapper:nth-child(odd) .card {
	float: left;
}

.eventText {
	display:  inline-block;
	text-align: justify;
}

#brickGallery {
	margin-top : 50px;
	display: block;
	position: relative;
	box-sizing: border-box;
}

.galleryItem img {
	width: auto; 
	height: 100%;
	border: 1px solid #f7941e;
}		

.galleryItem {
	float: left; 
	margin: 8px;
	/*padding: 10px;*/
	border: 1px solid #f7941e;
	background: #343433;
	box-sizing: border-box; 
	overflow: hidden; 
	position: relative;
}

.galleryItem:nth-child(odd) {
	-webkit-transform : rotate(1deg);
	-moz-transform : rotate(1deg);
	-ms-transform : rotate(1deg);
	transform : rotate(1deg);
}

.galleryItem:nth-child(even) {
	-webkit-transform : rotate(-1deg);
	-moz-transform : rotate(-1deg);
	-ms-transform : rotate(-1deg);
	transform : rotate(-1deg);
}	
