.postContent {
	display: block;
	position: relative;
	text-align: left;
	font-size: 0.9em;
}

.post .img {
	display: inline;
	max-width: 20%;
}

.post .date {
	margin-bottom : 20px;
	text-align: right;
	color: #777;
	font-size: 0.8em;
}

.post {
}

.post:last-child {
	padding-bottom: 0px;
}