.postContent {
	display: table-cell;
	text-align: left;
	font-size: 0.9em;
	width: 100%;
}

.post .img {
	max-width: 25%;
	float: left;
	display: table-cell;
	margin-right: 2em;
}

.post .date {
	margin-bottom : 20px;
	text-align: right;
	color: #777;
	font-size: 0.8em;
}

.post {
	padding-bottom: 30px;
}

.post:last-child {
	padding-bottom: 0px;
}