/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input::-moz-focus-inner {
  border: 0;
}



body {
	min-width: 700px;
	height: 100%	;
}

div.header {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ccc;
}

div.split {
	height: 80px;
}

div.logo {

	background-image: url("../images/logo.png");
	width: 170px;
	height: 140px;
	background-size: 170px 170px;
	background-position: center center;
	margin-left: 20px;
	display: inline-block;
}

div.slogan {
	width: 400px;
	height: 60px;
	display: inline-block;
	position:absolute;
	top:70px;
}

div.slogan span{
	height: 30px;
	top: 15px;
	position: relative;
	font-size: 30px;
	font-style: italic;
	font-weight: bold;
	font-family: "Lucida Grande";
}

div.slogan span.p1{
	color: #343433;
}

div.slogan span.p2{
	color: #f7941e;
}


.header .navigation {
	float: right;
	width: 470px;
	height: 100%;
	margin-right: 20px;
	padding: 0px;
}

.navigation .nav {
	border:none;
	width: 80px;
	height: 30px;
	color: #343433;
	font-family: "Lucida Grande";
	font-size: 12px;
	background: none;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
	padding: 0px;
}

.navigation .nav:hover {
	color: #f7941e;
}

.navigation .nav:active{
	border: none;
	padding: 0px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 20px;
}

.content{
	margin: 10px 20px 10px 20px;
	border: 1px solid red;
}

.content .data{
	margin: 0px;
	padding: 0px;
	height: auto;
	width: auto;
}

.footer {
	margin-left: 20px;
	margin-right: 20px;
	color: #888;
	float: right;
}

